td{
	width: 150pt;
	font-size:12pt;
	text-align: center;
	position: static;
}

th{
	width: 150pt;
	font-size:15pt;
	text-align: center;
	position: static;
}

.primera_lista{
	color:blue;
	font-size:15pt;
	font-weight: bold;
}
.banner{
	position:relative;
	margin-top:0em;
	margin-bottom:7em;
}
video{
	margin-top:5pt;
}
.hypervinculo{
	color:blue;
	font-size:15pt;
	font-weight: bold;
}

.gif{
	height:22pt;
	width:22pt; 
}

img{
	margin-top:4pt;
}

